.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.474);
    font-style: italic;
}
.search-input-bg {
    background-color: #5921cf;
}
.search-input-bg:hover {
    background-color: #5921cf;
}
.search-input-bg:focus {
    background-color: #5921cf;
}

.search-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.search-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}
