.doctor-info h2 {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}
.at-a-glance h4 {
    font-size: 18px;
}
.at-a-glance h6 {
    color: rgb(52, 52, 52);
    font-weight: bold;
}
