.postImage{
    height: 500px;
}
img.profile-photo-md {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
}
img {
    vertical-align: middle;
    border: 0;
   
    
}