/* font-family: 'Open Sans', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
p {
    padding: 0;
    margin: 0;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: none;
}
.form-select:focus,
.btn:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: #0e9ca2;
}
.base-color {
    color: #0e9ca2;
}
.base-color2 {
    color: #5921cf;
}
.bg-base {
    background-color: #03989e26;
}

.btn:focus,
.btn:hover,
.btn:active {
    border-color: transparent;
}
