/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.btn:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: #0e9ca2;
}
.base-color {
    color: #0e9ca2;
}
.base-color2 {
    color: #5921cf;
}
.bg-base {
    background-color: #03989e26;
}
