.payment-card {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
}
.active {
    border: 2px solid #0e9ca2 !important;
    background-color: #f5f5f5 !important;
    color: #0e9ca2 !important;
}
